.games {
    padding-left: 20%;
    padding-right: 20%;
}

.game {
    font-size: x-large;
    display: flex;
    background-color: rgb(20, 20, 20, .6);
    color: antiquewhite;
    margin: 20px;
    padding: 5px;
    padding-left: 20px;
}

.count {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
}

.addGame {
    text-align: center;
}

.input {
    height: 30pt;
    font-size: 26pt;
    margin: 10px;
    background-color: rgb(107, 66, 42);
    border: inset rgb(140, 89, 59);
    color: antiquewhite;
}

.button {
    margin: 10px;
    font-size: 28pt;
    background-color: rgb(107, 66, 42);
    color: antiquewhite;
    border-color: rgb(140, 89, 59);
    border-radius: 10px;
}

.link:link {
    color: cadetblue;
}

.link:visited {
    color: darkorange;
}