.legend {
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    margin: 20px;
    padding: 5px;
    padding-left: 20px;
}

.player {
    font-size: x-large;
    display: flex;
    background-color: rgb(20, 20, 20, .6);
    color: antiquewhite;
    margin: 20px;
    padding: 5px;
    padding-left: 20px;
}

.leaderboard {
    padding-left: 20%;
    padding-right: 20%;
}

.rank {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
}